
.scriptorium {
  

  &.scriptorium__3__silla.scriptorium__circle {
    padding-right: 10px;
    @include breakpoint(sm) {
      padding-right: 0px;
    }
    .mesa {
      position: relative;
      width: 60px;
      height: 60px;
      background-color: var(--color-table);
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23e5c8a6' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
      border: 1px solid var(--color-bg-light);
      border-radius: 50%;
      @include breakpoint(sm) {
        width: 120px;
      height: 120px;
      }
      .silla {
        width: 12px;
        height: 12px;
        @include breakpoint(sm) {
          width: 30px;
          height: 20px;
        }
        position: absolute;
    
        span {
          width: 12px;
          height: 100%;
          @include breakpoint(sm) {
            width: 15px;
          }
        }
        &:first-child {
          left: 0;
          top: -8px;
          transform: rotate(50deg);
          @include breakpoint(sm) {
            top: -15px;
          }
        }
        &:nth-child(2) {
          right: 0;
          top: -8px;
          @include breakpoint(sm) {
            top: -15px;
          }
          transform: rotate(-50deg);
        }
        &:nth-child(3) {
          right: -15px;
          top: 40%;
          @include breakpoint(sm) {
            right: -25px;
          }

        }
        &:nth-child(4) {
          right: 40%;
          bottom: -18px;
          @include breakpoint(sm) {
            bottom: -30px;
          }
          transform: rotate(-90deg);

        }
        &:nth-child(5) {
          left: -15px;
          @include breakpoint(sm) {
            left: -25px;
          }
          top: 40%;

        }
      }
      
    }
      
  }
  
  &.scriptorium__3__silla.scriptorium__vertical {
    height: 70px;
    @include breakpoint(sm) {
      height: 140px;
    }
    background-color: var(--color-table);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23e5c8a6' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    border: 1px solid var(--color-bg-light);
    border-radius: 6px;
    width: 40px;
    @include breakpoint(sm) {
      width: 60px;
    }
    padding: 7px 0;
    @include breakpoint(sm) {
      padding: 15px 0;
    }
    .mesa {
      position: relative;
      .silla {
        width: 12px;
        height: 12px;
        @include breakpoint(sm) {
          width: 20px;
          height: 30px;
        }
        position: absolute;
        
        span {
          width: 13px;
          height: 100%;
          @include breakpoint(sm) {
            width: 15px;
          }
        }
        &:first-child {
          top:0;
          left: -15px;
          @include breakpoint(sm) {
            left: -25px;
          }
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
          left: -15px;
          @include breakpoint(sm) {
            left: -25px;
          }
        }
        &:nth-child(3) {
          bottom: 0;
          left: -15px;
          @include breakpoint(sm) {
            left: -25px;
          }
        }
        &:nth-child(4) {
          top:0;
          right: -15px;
          @include breakpoint(sm) {
            right: -25px;
          }
        }
        &:nth-child(5) {
          top: 50%;
          transform: translateY(-50%);
          right: -15px;
          @include breakpoint(sm) {
            right: -25px;
          }
        }
        &:nth-child(6) {
          bottom: 0;
          right: -15px;
          @include breakpoint(sm) {
            right: -25px;
          }
        }
      }
    }
    &.small {
      height: 60px;
      @include breakpoint(sm) {
        height: 110px;
      }
      .mesa {
        .silla {
          &:first-child {
            top:0;
            left: -15px;
            @include breakpoint(sm) {
              left: -25px;
            }
          }
          &:nth-child(2) {
            bottom:0;
            left: -15px;
            @include breakpoint(sm) {
              left: -25px;
            }
            top: unset;
            transform: unset;
          }
          &:nth-child(3) {
            top:0;
            right: -15px;
            @include breakpoint(sm) {
              right: -25px;
            }
            left: unset;
          }
          &:nth-child(4) {
            bottom:0;
            right: -15px;
            @include breakpoint(sm) {
              right: -25px;
            }
            top: unset;
            transform: unset;
          }
        }
      
    }
  }
}
 
  &.scriptorium__3__silla.scriptorium__horizontal {
    height: 40px;
    @include breakpoint(sm) {
      height: 60px;
    }
    background-color: var(--color-table);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23e5c8a6' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    border: 1px solid var(--color-bg-light);
    border-radius: 6px;
    width: 70px;
    @include breakpoint(sm) {
      width: 140px;
    }
    padding: 0 7px;
    @include breakpoint(sm) {
      padding: 0 15px;
    }
    .mesa {
      position: relative;
      .silla {
        width: 12px;
        height: 12px;
        @include breakpoint(sm) {
          width: 30px;
          height: 20px;
        }
        position: absolute;
        &:first-child {
          left: 0;
          top: -15px;
          @include breakpoint(sm) {
            top: -25px;
          }
        }
        &:nth-child(2) {
          top: -15px;
          @include breakpoint(sm) {
            top: -25px;
          }
          left: 50%;
          transform: translateX(-50%);

        }
        &:nth-child(3) {
          top: -15px;
          @include breakpoint(sm) {
            top: -25px;
          }
          right: 0;
        }
        &:nth-child(4) {
          left: 0;
          bottom: -15px;
          @include breakpoint(sm) {
            bottom: -25px;
          }
        }
        &:nth-child(5) {
          bottom: -14px;
          @include breakpoint(sm) {
            bottom: -24px;
          }
          transform: translateX(-50%);
          left: 50%;
        }
        &:nth-child(6) {
          right: 0;
          bottom: -15px;
          @include breakpoint(sm) {
            bottom: -25px;
          }
        }
        span {
          width: 100%;
          height: 12px;
        }
      }
     
    }
    &.small {
      width: 70px;
      @include breakpoint(sm) {
        width: 110px;
      }
      .mesa {
        .silla {
          &:first-child {
            left: 0;
            top: -15px;
            @include breakpoint(sm) {
              top: -25px;
            }
          }
          &:nth-child(2) {
            bottom: -15px;
            @include breakpoint(sm) {
              bottom: -25px;
            }
            left: unset;
            right: 0;
            top: unset;
            transform: unset;
  
          }
          &:nth-child(3) {
            top: -15px;
            @include breakpoint(sm) {
              top: -25px;
            }
            right: 0;
          }
          &:nth-child(4) {
            left: 0;
            bottom: -15px;
            @include breakpoint(sm) {
              bottom: -25px;
            }
          }
        }
      
    }
  }
    &.one-side {
      .mesa {
        .silla {
          &:first-child {
            left: 0;
            bottom: -15px;
            @include breakpoint(sm) {
              bottom: -25px;
            }
            top: unset;
          }
          &:nth-child(2) {
            bottom: -14px;
            @include breakpoint(sm) {
              bottom: -24px;
            }
            left: 50%;
            transform: translateX(-50%);
            top: unset;
    
          }
          &:nth-child(3) {
            bottom: -15px;
            @include breakpoint(sm) {
              bottom: -25px;
            }
            right: 0;
            top: unset;
          }
        }
      }
     
    }
   
  }
  .mesa {
    display: flex;
    height: 100%;
    width: 100%;
    .silla {
     
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .modal {
        width: 100%;
        height: 40px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        padding: 20px 10px;
        font-size: 18px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9999;
        display: none;
        
      }
      &:hover {
        .modal {
          display: flex;
        }
      }
      span {
       
        background-color: var(--color-white);
        border-radius: 10px;
        &:hover {
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
          animation: pulse-green 2s infinite;
        }
        &.libre {
          background-color: var(--color-green);
          border: 1px solid var(--color-bg);
          &:hover {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            animation: pulse-green 2s infinite;
          }
        }
        &.ambar {
          background-color: var(--color-yellow);
          border: 1px solid var(--color-bg);
          &:hover {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            animation: pulse 2s infinite;
          }
        }
        &.occuped {
          background-color: var(--color-red);
          &:hover {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            animation: pulse-red 2s infinite;
          }
        }
        &.sin-datos {
          background-color: var(--color-grey);
          &:hover {
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
            animation: pulse-gray 2s infinite;
          }
        }
      }
    }
  }
}

.biblioteca-map {
  .center-distribution {
    padding-left: 25px;
  }
  .center {

    display: flex;
    align-items: center;
    width: 100%;
    margin: 70px 0;
    justify-content: space-between;
  }


}
.column {
  flex-direction: column;
}

.vertical-align.united.column {
  > *:not(:last-child) {
    margin-bottom: var(--space-xl);
  }
}

.horizontal-align {
  display: flex;
  justify-content: space-between;
  
  &.united {
    > *:not(:last-child) {
      margin-right: 5px;
    }
    
  }
}

.mt-1 {
  margin-top: 100px;
  @include breakpoint(sm) {
    margin-top: 140px;
  }
}

.mt-0 {
  margin-top: 50px;
  @include breakpoint(sm) {
    margin-top: 100px;
  }
}

.mb-0 {
  margin-bottom: 50px;
  @include breakpoint(sm) {
    margin-top: 100px;
  }
}


.guide {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  background-color: #333;
  font-weight: 400;
  flex-wrap: wrap;
  @include breakpoint(sm) {
    justify-content: center;
  }
  h6 {
    color: var(--color-white);
    font-size: 15px;
    padding: 5px 0;
    @include breakpoint(sm) {
      font-size: 18px;
      padding: 0px 0;
    }
  }
  h6:not(:last-child) {
    margin-right: 30px;
  }
  .silla {
    width: 30px;
    height: 15px;
    border-radius: 10px;
    display: inline-block;
    &.disponible {
      background-color: var(--color-green);
    }
    &.ocupado {
      background-color: var(--color-red);
    }
    &.ambar {
      background-color: var(--color-yellow);
    }
    &.sin-datos {
      background-color: var( --color-grey);
    }
  }
}

.horizontal-align.united.mt-1 {
  @include breakpoint(xs, "not all") {
    flex-wrap: wrap;
    justify-content: center;
    > *:not(:last-child) {
      margin-bottom: 90px;
    }
  }
}

footer.horizontal-align {
  .aside-footer {
    margin-top: var(--space-sm);
    margin-left: var(--space-xl);
  }
}

.modal {
  display: flex;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  padding: 20px 10px;
  background-color: #fff;
  margin-top: 20px;
  font-weight: bold;
  @include breakpoint(xs, "not all") {
    background-color: rgba(255,255,255, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(227, 116, 0, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 6px rgba(227, 116, 0, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(227, 116, 0, 0);
	}
}

@keyframes pulse-gray {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(187, 187, 187, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 6px rgba(187, 187, 0, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(187, 187, 0, 0);
	}
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(205,48,59, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 6px rgba(205,48,59, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(205,48,59, 0);
	}
}

@keyframes pulse-green {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(106,151,119, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 6px rgba(106,151,119, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(106,151,119, 0);
	}
}