
.scriptorium {
  

  &.scriptorium__3__silla.scriptorium__circle {
 
    .mesa {
      position: relative;
      width: 120px;
      height: 120px;
      background-color: var(--color-table);
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23e5c8a6' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
      border: 1px solid var(--color-bg-light);
      border-radius: 50%;
      .silla {
        width: 20px;
        height: 30px;
        position: absolute;
    
        span {
          width: 15px;
          height: 100%;
        }
        &:first-child {
          left: 0;
          top: -15px;
          transform: rotate(50deg);
        }
        &:nth-child(2) {
          right: 0;
          top: -15px;
          transform: rotate(-50deg);
        }
        &:nth-child(3) {
          right: -25px;
          top: 40%;

        }
        &:nth-child(4) {
          right: 40%;
          bottom: -30px;
          transform: rotate(-90deg);

        }
        &:nth-child(5) {
          left: -25px;
          top: 40%;

        }
      }
      
    }
      
  }
  
  &.scriptorium__3__silla.scriptorium__vertical {
    height: 140px;
    background-color: var(--color-table);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23e5c8a6' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    border: 1px solid var(--color-bg-light);
    border-radius: 6px;
    width: 60px;
    padding: 15px 0;
  
    .mesa {
      position: relative;
      .silla {
        width: 20px;
        height: 30px;
        position: absolute;
        
        span {
          width: 15px;
          height: 100%;
        }
        &:first-child {
          top:0;
          left: -25px;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
          left: -25px;
        }
        &:nth-child(3) {
          bottom: 0;
          left: -25px;
        }
        &:nth-child(4) {
          top:0;
          right: -25px;
        }
        &:nth-child(5) {
          top: 50%;
          transform: translateY(-50%);
          right: -25px;
        }
        &:nth-child(6) {
          bottom: 0;
          right: -25px;
        }
      }
    }
    &.small {
      height: 110px;
      .mesa {
        .silla {
          &:first-child {
            top:0;
            left: -25px;
          }
          &:nth-child(2) {
            bottom:0;
            left: -25px;
            top: unset;
            transform: unset;
          }
          &:nth-child(3) {
            top:0;
            right: -25px;
            left: unset;
          }
          &:nth-child(4) {
            bottom:0;
            right: -25px;
            top: unset;
            transform: unset;
          }
        }
      
    }
  }
}
 
  &.scriptorium__3__silla.scriptorium__horizontal {
    height: 60px;
    background-color: var(--color-table);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23e5c8a6' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    border: 1px solid var(--color-bg-light);
    border-radius: 6px;
    width: 140px;
    padding: 0 15px;
    .mesa {
      position: relative;
      .silla {
        width: 30px;
        height: 20px;
        position: absolute;
        &:first-child {
          left: 0;
          top: -25px;
        }
        &:nth-child(2) {
          top: -25px;
          left: 50%;
          transform: translateX(-50%);

        }
        &:nth-child(3) {
          top: -25px;
          right: 0;
        }
        &:nth-child(4) {
          left: 0;
          bottom: -25px;
        }
        &:nth-child(5) {
          bottom: -25px;
          transform: translateX(-50%);
          left: 50%;
        }
        &:nth-child(6) {
          right: 0;
          bottom: -25px;
        }
        span {
          width: 100%;
          height: 15px;
        }
      }
     
    }
    &.one-side {
      .mesa {
        .silla {
          &:first-child {
            left: 0;
            bottom: -25px;
            top: unset;
          }
          &:nth-child(2) {
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            top: unset;
    
          }
          &:nth-child(3) {
            bottom: -25px;
            right: 0;
            top: unset;
          }
        }
      }
     
    }
   
  }
  .mesa {
    display: flex;
    height: 100%;
    width: 100%;
    .silla {
     
      display: flex;
      align-items: center;
      justify-content: center;
      span {
       
        background-color: var(--color-green);
        border-radius: 10px;
        &.ambar {
          background-color: var(--color-yellow);
        }
        &.occuped {
          background-color: var(--color-red);
        }
        &.sin-datos {
          background-color: var(--color-grey);
        }
      }
    }
  }
}

.biblioteca-map {
  
  padding: 20px;
  @include breakpoint(sm) {
    display: flex;
    flex-wrap: wrap;
  }
  .center {
 
   
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
    @include breakpoint(sm) {
      padding: 20px 0;
     margin-bottom: 0px;
      width: calc(100% - 240px);
    }
  }
  aside {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include breakpoint(xs, "not all") {
      flex-direction: column;
      align-items: center;
    }
    @include breakpoint(sm) {
      flex-direction: column;
      width: 120px;
      justify-content: center;
    }
  }
  aside.left {
    margin-bottom: 90px;
    @include breakpoint(sm) {
      margin-bottom: 0px;
    }
    > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  aside.right {
   align-items: flex-end;
   margin-top: 120px;
   @include breakpoint(xs, "not all") {
    align-items: center;
  }
   @include breakpoint(sm) {
    margin-top: 0px;
    }
    > *:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  footer.bottom {
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    width: 100%;
    flex-wrap: wrap;
    
    > * {
      margin-bottom: 40px;
      &:not(:last-child) {
        margin-right: 25%;
      }
      &:nth-child(3) {
        margin-right: 0px;
      }
    }
    @include breakpoint(xs, "not all") {
      flex-direction: column;
      align-items: center;
     .scriptorium {
        margin-right: 0px;
      }
    }
    @include breakpoint(sm) {
      flex-wrap: initial;
      > * {
   
        margin-bottom: 0px;
        &:not(:last-child) {
          margin-right: 0px;
        }
      }
    }
  }
}

.horizontal-align {
  display: flex;
  align-items: center;
  
  > *:first-child {
    margin-right: 5px;
  }
  &.united {
    > *:not(:last-child) {
      margin-right: 5px;
    }
    
  }
}

.mt-1 {
  margin-top: 100px;
  @include breakpoint(sm) {
    margin-top: 140px;
  }
}

.mt-0 {
  margin-top: 50px;
  @include breakpoint(sm) {
    margin-top: 100px;
  }
}

.mb-0 {
  margin-bottom: 50px;
  @include breakpoint(sm) {
    margin-top: 100px;
  }
}


.guide {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  background-color: #333;
  font-weight: 400;
  flex-wrap: wrap;
  @include breakpoint(sm) {
    justify-content: center;
  }
  h6 {
    color: var(--color-white);
    font-size: 15px;
    padding: 5px 0;
    @include breakpoint(sm) {
      font-size: 18px;
      padding: 0px 0;
    }
  }
  h6:not(:last-child) {
    margin-right: 30px;
  }
  .silla {
    width: 30px;
    height: 15px;
    border-radius: 10px;
    display: inline-block;
    &.disponible {
      background-color: var(--color-green);
    }
    &.ocupado {
      background-color: var(--color-red);
    }
    &.ambar {
      background-color: var(--color-yellow);
    }
    &.sin-datos {
      background-color: var( --color-grey);
    }
  }
}

.horizontal-align.united.mt-1 {
  @include breakpoint(xs, "not all") {
    flex-wrap: wrap;
    justify-content: center;
    > *:not(:last-child) {
      margin-bottom: 90px;
    }
  }
}