.chart {

  border-radius: 6px;
  padding: 0;

  @include breakpoint(sm) {
    background-color: rgba(255,255,255, 0.3);
    padding: 20px;
  }
}

.ring {

  --diameter: 300;
  --stroke-width: 40;
  --pi: 3.1415;

  --diameter-px: calc(var(--diameter) * 1px);
  
  --radius: calc((var(--diameter) - var(--stroke-width)) / 2);
  --radius-px: calc(var(--radius) * 1px);
  
  --circumference: calc(var(--radius) * 2 * var(--pi));
  --circumference-px: calc(var(--circumference) * 1px);

  --offset: calc(var(--circumference) - var(--percent) / 100 * var(--circumference));
  --offset-px: calc(var(--offset) * 1px);
  
  width: var(--diameter-px);
  height: var(--diameter-px);
}

.ring circle {
  stroke: #fff;
  stroke-width: var(--stroke-width);
  fill: transparent;
  r: var(--radius-px);
  cx: calc(var(--diameter-px) / 2);
  cy: calc(var(--diameter-px) / 2);
}

.ring .progress {
  stroke-dasharray: var(--circumference-px) var(--circumference-px);
  stroke-dashoffset: var(--offset-px);
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.35s;
  stroke: var( --color-red);
}


.ratio-chart {
  position: relative;
  padding: 0px;
  display: inline-block;
  .ratio-chart-headline {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    @include breakpoint(sm) {
      background-color: rgba(255,255,255, 0.3);;
    }
  }
  .ring {
    position: relative;
    z-index: 20;
  }
  .perccent {
    display: block;
    font-weight: bold;
    font-size: 40px;
    margin-top: 8px;
    color: #333;
  }
}

.graph {
  background-color: var(--color-white);
  padding: var(--space-xxxs);
  margin-bottom: var(--space-sm);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-weight: bold;
    position: relative;
    z-index: 10;
  }
  .graph-chart {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: tomato;
  }
}
.quick--info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .graph {
    width: 100%;
  }
}